
*.lock
SkiaSharpBarrage/.vs/ProjectEvaluation/skiasharpbarrage.metadata.v5.1
SkiaSharpBarrage/.vs/ProjectEvaluation/skiasharpbarrage.projects.v5.1
SkiaSharpBarrage/.vs/SkiaSharpBarrage/DesignTimeBuild/.dtbcache.v2
SkiaSharpBarrage/.vs/SkiaSharpBarrage/FileContentIndex/084dba03-aad2-4202-b64a-f16819108ade.vsidx
SkiaSharpBarrage/.vs/SkiaSharpBarrage/FileContentIndex/befe06e7-8471-4ac9-b93a-384bdb013e55.vsidx
SkiaSharpBarrage/.vs/SkiaSharpBarrage/FileContentIndex/c97ba7c6-3d23-4ff0-ac94-ab827a3cd3a9.vsidx
SkiaSharpBarrage/.vs/SkiaSharpBarrage/FileContentIndex/cc422d15-1a09-404d-8ab9-240865dff523.vsidx
SkiaSharpBarrage/.vs/SkiaSharpBarrage/v17/.futdcache.v2
SkiaSharpBarrage/.vs/SkiaSharpBarrage/v17/.suo
/SkiaSharpBarrage/SkiaSharpBarrage/obj
/SkiaSharpBarrage/.vs/SkiaSharpBarrage/v16
